<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background-color: rgba(233, 233, 233, 0.884);
        font-size: 1.4rem;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      }

      .container {
        width: 400px;
        height: 400px;
        margin: 4rem auto;
        background-color: rgba(235, 235, 235, 0.932);
        padding: 30px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px #fff;
      }

      .form {
        margin-bottom: 1.5rem;
      }

      .form-label {
        display: block;
      }

      .form-input {
        height: 30px;
        width: 100%;
        margin-bottom: 1rem;
        outline-style: none;
        padding: 5px;
      }

      .form-submit {
        padding: 10px 20px;
        cursor: pointer;
      }

      button {
        padding: 10px 20px;
      }

      a {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="/userSignup" method="POST" class="form">
        <label for="name" class="form-label"> Name </label>
        <input
          name="name"
          type="text"
          class="form-input"
          required
          autofocus
        /><br />
        <label for="email" class="form-label"> Email </label>
        <input name="email" type="email" class="form-input" required /><br />
        <label for="password" class="form-label"> Password </label>
        <input
          name="password"
          type="password"
          class="form-input"
          required
        /><br />
        <!-- <button type="submit">Sign Up</button> -->
        <input class="form-submit" type="submit" />
      </form>

      <button><a href="/usersData">Registered Users Info</a></button>
    </div>
  </body>
</html>
