<div class="flex-container-column">
    <h1>Login page</h1>

    <h3>{{error}}</h3>
    <h3>{{message}}</h3>
    <form action="/login" method="POST">

        <div class="form-grp">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="form-grp">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <button class="btn-primary">Login</button>

    </form>

</div>