<div style="text-align:center; color:rgb(107, 107, 107)">
    <h1 style="color:darkgreen">Welcome to your Profile</h1>

    <h2>Find your details below:</h2>

    <div style="text-align:center; color:rgb(54, 79, 133); margin:30px auto; border:1px solid goldenrod; width:350px;">
        <h3>Email: {{user.email}}</h3>
        <h3>Address: {{user.address}}</h3>

        <h3>Phone: {{user.phone}}</h3>

        <form action="/logout" method="POST"><button class="btn-primary">Logout</button></form>

    </div>


</div>