* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: rgb(39, 39, 39);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  padding: 7px 15px;
  margin: 5px;
}

label {
  padding-left: 7px;
}

.container {
  padding: 1rem;
}

.btn-primary {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  background-color: rgb(1, 161, 161);
  color: rgb(247, 255, 255);
  font-weight: 600;
}

.btn-secondary {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  background-color: rgb(218, 201, 108);
  color: rgb(126, 103, 2);
  font-weight: 600;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
  font-weight: 600;
}

.flex-container-row {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.flex-container-column {
  width: 90vw;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-grp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

form {
  padding: 50px;
  background-color: cornflowerblue;
  margin: 30px auto;
  border-radius: 10px;
}
